# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
/nextjs/.next/
/nextjs/out/

# remix
/remix/api/index.js
/remix/api/index.js.map

# production
/nextjs/build

# sanity
sanity/dist
sanity/.yarn

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

#netlify
.netlify

#remix
remix/api/*
remix/api/metafile.css.json
remix/api/manifest.js.json
remix/api/manifest.server.json
remix/.yarn

.yarn